body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.icon-container {
    cursor: pointer;
}

#nextPageIcon {
    width: 100px; /* Adjust size as needed */
}